<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>alias</key>
		<string>Top News</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348646712614</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>iosnews</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<true/>
		<key>img</key>
		<string>T1348647853363</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>0</string>
		<key>recommendOrder</key>
		<integer>0</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>超过1000万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1348647853363</string>
		<key>tname</key>
		<string>头条</string>
		<key>topicid</key>
		<string>003406E3</string>
		<key>weburl</key>
		<string>http://www.163.com/</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>Region</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348647991705</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>shehui</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string>T1348648037603</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>1</string>
		<key>recommendOrder</key>
		<integer>109</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>100</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1348648037603</string>
		<key>tname</key>
		<string>社会</string>
		<key>topicid</key>
		<string>000106SD</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>History</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348647991705</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>lishi</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string>T1374806775273</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>1</string>
		<key>recommendOrder</key>
		<integer>105</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>超过1000万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1368497029546</string>
		<key>tname</key>
		<string>历史</string>
		<key>topicid</key>
		<string>00340B7E</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>Military</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348647991705</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>junshi</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string>T1348648141035</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>1</string>
		<key>recommendOrder</key>
		<integer>110</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>超过1000万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1348648141035</string>
		<key>tname</key>
		<string>军事</string>
		<key>topicid</key>
		<string>00010AKH</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>Entertainment</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348648351901</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>yule</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string>T1348648517839</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>1</string>
		<key>recommendOrder</key>
		<integer>120</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>超过1000万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1348648517839</string>
		<key>tname</key>
		<string>娱乐</string>
		<key>topicid</key>
		<string>003406OT</string>
		<key>weburl</key>
		<string>http://ent.163.com/</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>Business</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348648727071</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>caijing</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string>T1348648756099</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>1</string>
		<key>recommendOrder</key>
		<integer>118</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>超过1000万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1348648756099</string>
		<key>tname</key>
		<string>财经</string>
		<key>topicid</key>
		<string>003406OS</string>
		<key>weburl</key>
		<string>http://money.163.com/</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>Lottery</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348648727071</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>caipiao</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<false/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string></string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>0</string>
		<key>recommendOrder</key>
		<integer>82</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>超过1000万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1356600029035</string>
		<key>tname</key>
		<string>彩票</string>
		<key>topicid</key>
		<string>00050KTP</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>Sports</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348649048655</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>tiyu</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string>T1348649079062</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>1</string>
		<key>recommendOrder</key>
		<integer>119</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>超过1000万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1348649079062</string>
		<key>tname</key>
		<string>体育</string>
		<key>topicid</key>
		<string>003406OR</string>
		<key>weburl</key>
		<string>http://sports.163.com/</string>
	</dict>
	<dict>
		<key>alias</key>
		<string>Chinese Super League</string>
		<key>bannerOrder</key>
		<integer>0</integer>
		<key>cid</key>
		<string>C1348649048655</string>
		<key>color</key>
		<string></string>
		<key>ename</key>
		<string>zhongchao</string>
		<key>hasCover</key>
		<false/>
		<key>hasIcon</key>
		<true/>
		<key>headLine</key>
		<false/>
		<key>img</key>
		<string>T1348649503389</string>
		<key>isHot</key>
		<integer>0</integer>
		<key>isNew</key>
		<integer>0</integer>
		<key>recommend</key>
		<string>1</string>
		<key>recommendOrder</key>
		<integer>107</integer>
		<key>showType</key>
		<string>comment</string>
		<key>special</key>
		<integer>0</integer>
		<key>subnum</key>
		<string>24.4万</string>
		<key>template</key>
		<string>normal1</string>
		<key>tid</key>
		<string>T1348649503389</string>
		<key>tname</key>
		<string>中国足球</string>
		<key>topicid</key>
		<string>00050AL1</string>
	</dict>
</array>
</plist>
